In [1]:
import pandas as pd

In [ ]:
control = pd.read_csv('../data/control copy.csv')
treatment = pd.read_csv('../data/treatment copy.csv')
history = pd.read_csv('../data/wh_history_full.csv')

In [7]:
control_employees = set(control['rec_id'].unique())
treatment_employees = set(treatment['rec_id'].unique())

In [10]:
len(control_employees)

22

In [11]:
len(treatment_employees)

5

In [13]:
history = pd.read_csv('../data/wh_history_full.csv')
history_set = set(history['pk_user'].unique())

In [16]:
pattern = r"\bVP\b|\bV\.P\.\b|\bVice\b|\bVice[- ]President\b|\bSVP\b|\bEVP\b|\bAVP\b|\bRVP\b|\bDVP\b"

vp_rows = history[
    history["job_title"].str.contains(pattern, case=False, regex=True, na=False)
]

vp_rows

,pk_user,fk_direct_manager,job_title,effective_start_date,effective_end_date
6,67028,303093.0,"VP, Financial Controller",2023-01-16,2023-02-01
7,67028,27060221.0,"VP, Financial Controller",2024-02-27,2024-03-01
8,67028,67036.0,"VP, Financial Controller",2024-03-11,2024-03-15
9,67028,303093.0,"VP, Financial Controller",2024-03-15,2024-03-18
10,67028,303093.0,"Vice President, Controller",2024-08-27,2024-08-28
...,...,...,...,...,...
11436,27362927,69005.0,"Vice President, Product Engineering",2024-08-27,2024-08-28
11577,28265674,21740703.0,"Senior Vice President, Customer Account Manage...",2024-10-11,2024-10-17
11578,28265674,21740703.0,"SVP, Customer Excellence",2025-06-12,2025-06-13
11625,28543723,2624695.0,"VP, Operations",2024-08-27,2024-08-28
11709,29239901,4065764.0,"Vice President, Sales - North America",2024-12-06,2024-12-10

In [17]:
vp_set = set(vp_rows['pk_user'].unique())

In [49]:
len(history_set)

2684

In [18]:
len(vp_set)

68

In [20]:
(treatment_employees & vp_set)

{np.int64(67028),
 np.int64(5460545),
 np.int64(7089735),
 np.int64(7569574),
 np.int64(10792543)}

In [27]:
(control_employees & vp_set)

set()

In [22]:
(treatment_employees & vp_set) - (control_employees & vp_set)

{np.int64(67028),
 np.int64(5460545),
 np.int64(7089735),
 np.int64(7569574),
 np.int64(10792543)}

In [23]:
len(treatment_employees & vp_set)

5

In [31]:
control_employees

{np.int64(139522),
 np.int64(2092856),
 np.int64(2800139),
 np.int64(3218400),
 np.int64(3390854),
 np.int64(5248156),
 np.int64(7249066),
 np.int64(7420550),
 np.int64(8209895),
 np.int64(8554955),
 np.int64(9213055),
 np.int64(9372807),
 np.int64(10785359),
 np.int64(10968258),
 np.int64(10973462),
 np.int64(11120885),
 np.int64(11168127),
 np.int64(11837898),
 np.int64(11989802),
 np.int64(12733321),
 np.int64(13519224),
 np.int64(15809526)}

In [25]:
history[history['pk_user'] == 29239901]

,pk_user,fk_direct_manager,job_title,effective_start_date,effective_end_date
11709,29239901,4065764.0,"Vice President, Sales - North America",2024-12-06,2024-12-10

In [74]:
control_df[control_df['nom_id'] ==67028]

,Unnamed: 0,rec_id,nom_id,award_id,ah_id,link_id,award_private,product_id,title,message,award_date
575,73965,15809526,67028,158924239,156856243,7340989.0,0,620,Superb execution in a very busy Q1,Thank you all for leading your teams during wh...,2024-03-25
650,80514,15809526,67028,154353624,152035874,6964670.0,0,620,"Plan, prepare and execute",Well done Team in making our YE financial repo...,2024-01-31
1186,140725,15809526,67028,120674900,118802758,4031264.0,0,620,Investing in our people,Thank you all for taking the time and effort t...,2022-11-25
1329,151194,15809526,67028,115956021,114236112,3650137.0,0,620,Sept offsite,Thanks you all for taking the time to bring yo...,2022-09-27
1395,158734,15809526,67028,112435833,110811301,3417887.0,0,620,Super progress ... keep it up,Wonderful work done to date in getting our int...,2022-08-18
2279,208813,15809526,67028,85018823,83862523,NaN,0,620,"Adding value left, right and centre","Catriona, you have truly hit the ground runnin...",2021-07-29
2727,227204,8554955,67028,75451700,74459914,1028977.0,0,620,Zoom around Tues night,Thanks everyone for showing up and contributin...,2021-01-29
2729,227236,9213055,67028,75451933,74451135,1028991.0,0,620,Wednesday night Zoom-around,Thanks everyone for showing up and contributin...,2021-01-29
2730,227240,10973462,67028,75451932,74450142,1028991.0,0,620,Wednesday night Zoom-around,Thanks everyone for showing up and contributin...,2021-01-29
4116,276044,7249066,67028,52020868,51710845,195146.0,0,620,Happy Finance Customers,"Thank you all for your part in analysing, deve...",2019-07-20
4515,292166,7249066,67028,44431868,44071050,NaN,0,620,Keeping us compliant,Thanks Orlagh for working with the various int...,2018-12-01
5408,329238,3390854,67028,25557245,25554888,NaN,0,620,INTUIT 'WOO-HOO & THANK YOU',It's been quite a journey to get here but we o...,2016-12-10
5560,337078,3390854,67028,21363144,21487866,NaN,0,620,Rebuilding Customer Confidence,Thanks to you we are starting to regain the po...,2016-05-07

In [26]:
len(vp_set)

68