In [1]:
import pandas as pd

In [ ]:
control = pd.read_csv('../data/control copy.csv')
treatment = pd.read_csv('../data/treatment copy.csv')
history = pd.read_csv('../data/wh_history_full.csv')

In [7]:
control_employees = set(control['rec_id'].unique())
treatment_employees = set(treatment['rec_id'].unique())

In [10]:
len(control_employees)

22

In [11]:
len(treatment_employees)

5

In [13]:
history = pd.read_csv('../data/wh_history_full.csv')
history_set = set(history['pk_user'].unique())

In [16]:
pattern = r"\bVP\b|\bV\.P\.\b|\bVice\b|\bVice[- ]President\b|\bSVP\b|\bEVP\b|\bAVP\b|\bRVP\b|\bDVP\b"

vp_rows = history[
    history["job_title"].str.contains(pattern, case=False, regex=True, na=False)
]

vp_rows

,pk_user,fk_direct_manager,job_title,effective_start_date,effective_end_date
6,67028,303093.0,"VP, Financial Controller",2023-01-16,2023-02-01
7,67028,27060221.0,"VP, Financial Controller",2024-02-27,2024-03-01
8,67028,67036.0,"VP, Financial Controller",2024-03-11,2024-03-15
9,67028,303093.0,"VP, Financial Controller",2024-03-15,2024-03-18
10,67028,303093.0,"Vice President, Controller",2024-08-27,2024-08-28
...,...,...,...,...,...
11436,27362927,69005.0,"Vice President, Product Engineering",2024-08-27,2024-08-28
11577,28265674,21740703.0,"Senior Vice President, Customer Account Manage...",2024-10-11,2024-10-17
11578,28265674,21740703.0,"SVP, Customer Excellence",2025-06-12,2025-06-13
11625,28543723,2624695.0,"VP, Operations",2024-08-27,2024-08-28
11709,29239901,4065764.0,"Vice President, Sales - North America",2024-12-06,2024-12-10

In [17]:
vp_set = set(vp_rows['pk_user'].unique())

In [49]:
len(history_set)

2684

In [18]:
len(vp_set)

68

In [20]:
(treatment_employees & vp_set)

{np.int64(67028),
 np.int64(5460545),
 np.int64(7089735),
 np.int64(7569574),
 np.int64(10792543)}

In [27]:
(control_employees & vp_set)

set()

In [22]:
(treatment_employees & vp_set) - (control_employees & vp_set)

{np.int64(67028),
 np.int64(5460545),
 np.int64(7089735),
 np.int64(7569574),
 np.int64(10792543)}

In [23]:
len(treatment_employees & vp_set)

5

In [31]:
control_employees

{np.int64(139522),
 np.int64(2092856),
 np.int64(2800139),
 np.int64(3218400),
 np.int64(3390854),
 np.int64(5248156),
 np.int64(7249066),
 np.int64(7420550),
 np.int64(8209895),
 np.int64(8554955),
 np.int64(9213055),
 np.int64(9372807),
 np.int64(10785359),
 np.int64(10968258),
 np.int64(10973462),
 np.int64(11120885),
 np.int64(11168127),
 np.int64(11837898),
 np.int64(11989802),
 np.int64(12733321),
 np.int64(13519224),
 np.int64(15809526)}

In [25]:
history[history['pk_user'] == 29239901]

,pk_user,fk_direct_manager,job_title,effective_start_date,effective_end_date
11709,29239901,4065764.0,"Vice President, Sales - North America",2024-12-06,2024-12-10

In [33]:
control[control['rec_id'] ==139522]['message']

0       Congrats Rich on being crowned Scariest Costum...
19      Team, congrats on delivering this important ca...
21      Thank you for the time and care you’ve dedicat...
42      Dinorah, Rich and Tom,  UMMS is making a final...
44      Jen, Kristine & Rich- well done executing toda...
                              ...
5864    I want to thank you for taking the initiative ...
6163    I would like to bestow the 17Hour award upon a...
6164     Thanks so much for all your help sorting thro...
6165    First, I want to thank all of you for your eff...
6166    Thanks for helping me carry all the mail crate...
Name: message, Length: 540, dtype: object

In [26]:
len(vp_set)

68